<h4>
  Feed View
</h4>
<p>
  From Feed view, user can retrieve vulnerabilities by each version of the feed.
</p>
<div class="d-flex flex-row">
  <div class="d-flex flex-row">
    <div class="p-2">
      Feed
    </div>
    <select class="p-2 dropdown" id="feeds" value="">
    </select>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2">
      Version
    </div>
    <select class="p-2 dropdown" id="versions" value="">
    </select>
  </div>
</div>
<hr/>
<div id="cves" class="d-flex flex-wrap">
</div>
