<h4>
  Not Fixed
</h4>
<p>
  View vulnerabilities data which have not been fixed yet.
</p>
<div>
  <div class="d-flex justify-content-between px-2">
    <div>
      <label id="table-title">Full data list</label>
      <a class="link mx-4" id="back-to-full"></a>
    </div>
    <div id="page-change-btn">
      <button id="prev-page">Prev</button>
      <button id="next-page">Next</button>
    </div>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2" style="width: 100%;">
      <div id="vulsGrid" class="ag-theme-alpine" style="height: 340px; width: 100%;"></div>
    </div>
  </div>
</div>
