.nvlogo {
  background: url('../assets/img/logo.png') no-repeat;
  background: -webkit-image-set(
      url('../assets/img/logo.png') 1x,
      url('../assets/img/logo@2x.png') 2x
    )
  no-repeat;
  height: 40px;
  width: 240px;
}

.link {
  color: #000066;
  cursor: pointer;
}

.detail-title {
  background-color: $mdc-pink-400;
  color: #ffffff;
  font-size: 2rem;
  padding: 5px 15px;
}

.item {
  color: $mdc-grey-900;
  font-size:1rem;
  margin: 10px 0 10px 10px;
  .item-title {
    font-weight: bold;
    background-color: $mdc-blue-grey-100;
    padding: 5px 10px;
    + div {
      padding: 5px 10px;
    }
  }

  .sub-item-title {
    font-weight: bold;
    background-color: $mdc-blue-grey-100;
    padding: 5px 10px;
  }

  .sub-item, .source-item > .source-item-title  {
    display: flex;
    >:first-child {
      font-weight: bold;
    }
    > div {
      margin: 5px 10px;
    }
  }

  .sources-wrap {
    >:not(:last-child) {
      border-bottom: 2px $mdc-blue-grey-100 solid;
    }
  }

  .source-item {
    padding: 10px;
    display: table;
    width: 100%;
    .source-item-title {
      display: table-row;
      margin: 4px 0;
      >:first-child {
        width: 200px;
      }
      >div {
        display: table-cell;
      }
    }
  }

  .impacted-version, .fixed-version {
    padding: 1px 5px;
    margin: 0 5px;
    border-radius: 3px;
    color: $mdc-grey-900;
  }

  .impacted-version {
    background-color: $mdc-red-400;
  }

  .fixed-version {
    background-color:  $mdc-green-500;
  }
}

.filter-list {
  height: 260px;
  border: 1px solid $mdc-grey-600;
  border-radius: 3px;
  overflow: auto;
  background-color:  #ffffff;
  list-style-type: none;
  padding: 8px 5px;
}

.dropdown {
  width: 100%;
  padding: 2px;
}

.filter-tag {
  margin: 8px;
  padding: 2px 10px;
  background-color: $neuvector-dark-green-100;
  border-radius: 5px;
}

.remove-btn {

}
