<h4>
  Package View
</h4>
<p>
  From package view, user can retrieve vulnerabilities by each version of the package.
</p>
<div class="d-flex flex-row">
  <div class="d-flex flex-row">
    <div class="p-2">
      Package
    </div>
    <select class="p-2 dropdown" id="packages" value="">
    </select>
  </div>
  <div class="d-flex flex-row">
    <div class="p-2">
      Version
    </div>
    <select class="p-2 dropdown" id="versions" value="">
    </select>
  </div>
</div>
<hr/>
<div id="cves" class="d-flex flex-wrap">
</div>
